*{
    margin: 0;
    box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oleo+Script&family=Poppins:wght@300&family=Space+Grotesk:wght@400;500;700&display=swap');
.oleo{
    font-family: 'Oleo Script', cursive;
}
.space-grotesk{
    font-family: 'Space Grotesk', sans-serif;
}
.nunito{
    font-family: 'Nunito', sans-serif;
}
.shadow{
    box-shadow: 24px 24px 48px rgba(0, 0, 0, 0.05);
}
